<div ng-show="isUserLoggedIn()">
<!--    <p></p>-->
<!--    <h3>Список-справочник для пользователя - <h1>{{isUser()}}</h1></h3>-->
<!--    <p></p>-->
    <div class="row g-2">
        <div class="col-sm-6 col-md-10">
            <table class="table table-hover" ng-show="isUserLoggedIn()" cellpadding="0" cellspacing="0">
                <tr>
                    <td>ID</td>
                    <td>Вид</td>
                    <td>Кличка</td>
                    <td></td>
                    <td></td>
                </tr>
                <tbody>
                <tr ng-repeat="a in AnimalList">
                    <td>{{a.id}}</td>
                    <td>{{a.viewAnimal}}</td>
                    <td><b>{{a.nickName}}</b></td>
                    <td>
                        <button class="btn btn-primary" ng-click="details(a.id)">Детали</button>
                    </td>
                    <td>
                        <button class="btn btn-primary" ng-click="imageUrl(a.imageUrl, 300, 250)">smallImg</button>
                    </td>
                    <td>
                        <button class="btn btn-danger" ng-click="deleteAnimal(a.id)">Удалить</button>
                    </td>

                </tr>
                </tbody>
            </table>
            <p></p>
        </div>
    </div>
    <h3>Изображение</h3>
    <table class="table table-hover" cellpadding="0" cellspacing="0">
        <tbody>
        <tr>
            <td>
                ID : {{AnimalDetail.id}}<br>
                Вид : {{AnimalDetail.viewAnimal}}<br>
                Кличка : {{AnimalDetail.nickName}}<br>
                URL : {{AnimalDetail.imageUrl}}<br>
            </td>
        </tr>
        <tr>
            <td>
                <a ng-href="{{smalImage}}">Маленькая Картинка</a>
                <img data-ng-src="{{smalImage}}" alt="{{smalImage}}"/>

                <p>

                <a ng-href="{{AnimalDetail.imageUrl}}">Картинка</a>
                <img data-ng-src="{{AnimalDetail.imageUrl}}" height="900" width="900" alt="{{AnimalDetail.imageUrl}}"/>
            </td>
        </tr>
        </tbody>
    </table>
    <form novalidate ng-submit="saveAnimal()">
        <input class="form-control" type="text" placeholder="Кот" ng-model="animalForm.viewAnimal">
        <label>Вид животного</label>
        <input class="form-control" type="text" placeholder="Васька" ng-model="animalForm.nickName">
        <label>Кличка</label>
        <input class="form-control" type="text" placeholder="муж" ng-model="animalForm.gender">
        <label>Пол животного</label>
        <input class="form-control" type="text" placeholder="21-03-2020" ng-model="animalForm.dateBorn">
        <label>Дата рождения</label>
        <p></p>

        <BUTTON class="btn btn-primary" type="submit">Сохранить</BUTTON>
    </form>


</div>